---
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <main container mx-auto>
    <ul>
      <li>A manger</li>
    </ul>
  </main>
</Layout>
