---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | Contact" />

  <TopNav>Contact et horaires</TopNav>

  <SideNav
    showIndexLink
    showPresentationLink
    showMenuLink
    showDayMenuLink
    showProgramationLink
  />

  <MainContent title="Contact et horaires">
    <ul mx-auto mt-12>
      <li>
        <a href="tel:+33631146119" flex items-center gap-4 mt-4>
          <i block shrink-0 i-carbon-phone-filled w-6 h-6></i>

          +33 (0) 6 31 14 61 19
        </a>
      </li>

      <li>
        <a
          href="mailto:cuisine.lebouillon@gmail.com"
          flex
          items-center
          gap-4
          mt-4
        >
          <i block shrink-0 i-carbon-email w-6 h-6></i>

          cuisine.lebouillon@gmail.com
        </a>
      </li>

      <li>
        <a
          href="https://www.google.com/maps/place/Espace+Eaux+Vives/@45.379989,4.755138,17z/data=!3m1!4b1!4m6!3m5!1s0x47f519aff18e1383:0x3cf97521e92546f2!8m2!3d45.379989!4d4.755138!16s%2Fg%2F1tft_x2g?hl=fr&entry=ttu"
          flex
          items-center
          gap-4
          mt-4
        >
          <i block shrink-0 i-carbon-location w-6 h-6></i>

          Av. du Rhône, 42520 Saint-Pierre-de-Bœuf
        </a>
      </li>

      <li flex items-center gap-4 mt-4>
        <i block shrink-0 i-carbon-calendar w-6 h-6></i>

        Ouvert de 9h à 22h tous les jours (fin de service à 21h30)
      </li>
    </ul>
  </MainContent>
</Layout>
