---
import Logo from "@components/Logo.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO
    slot="head"
    title="Le Bouillon des Eaux Vives | Restaurant brasserie à Saint-Pierre de Boeuf"
  />
  <TopNav class="bg-primary text-secondary-blue" />

  <main
    grow
    text="center secondary-blue"
    bg-primary
    block
    md:flex="~ col"
    items-center
    justify-evenly
    px-4
  >
    <p max-w-100 w-90% -translate-x-2>
      <Logo />
    </p>

    <h1 hidden>
      Restaurant Le Bouillon des Eaux Vives à Saint Pierre de Boeuf
    </h1>

    <h2 text-7 font-display>Restaurant brasserie à Saint-Pierre-de-Boeuf</h2>

    <p text-5>
      Bienvenue au Bouillon, nouveau lieu de restauration à
      Saint-Pierre-de-Boeuf. La brasserie est située sur la base nautique des
      Eaux-Vives. Elle vous accueille sur sa terrasse ombragée de 120 couverts
      avec salons extérieurs. Vous pourrez profiter du bord de rivière dans un
      cadre idyllique, au bruit du clapotis des vagues.
    </p>
  </main>
</Layout>

<SideNav
  showPresentationLink
  showMenuLink
  showDayMenuLink
  showProgramationLink
  showContactLink
/>
