---
import Logo from "@components/Logo.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
import { Picture } from "astro:assets";
import wrenchPicture from "./_wrench.png";
---

<Layout title="Welcome to Astro.">
  <SEO
    slot="head"
    title="Le Bouillon des Eaux Vives | Restaurant brasserie à Saint-Pierre de Boeuf"
  />

  <main
    max-w-200
    h-full
    mx-auto
    flex="~ col"
    items-center
    justify-center
    gap-6
    text-center
    p-4
  >
    <header text-primary flex justify-center w-full>
      <Logo />
    </header>

    <p text-primary text-10.5>Site web en construction</p>

    <div w-50%>
      <Picture src={wrenchPicture} alt="Clef à molette" />
    </div>

    <p text-primary text-8>
      Nous vous recevrons bientôt, en attendant pour toutes informations et
      réservations :
    </p>

    <div flex="~ col" items-center justify-center gap-0>
      <p text-primary text-8>
        <a href="mailto:cuisine.lebouillon@gmail.com"
          >cuisine.lebouillon@gmail.com</a
        >
      </p>

      <p text-primary text-8>
        <a href="tel:0607383161">06 07 38 31 61</a>
      </p>
    </div>
  </main>
</Layout>
