---
import Logo from "@components/Logo.astro";
import SideNav from "@components/SideNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO
    slot="head"
    title="Le Bouillon des Eaux Vives | Restaurant brasserie à Saint-Pierre de Boeuf"
  />

  <main
    grow
    text="center secondary-blue"
    bg-primary
    flex="~ col"
    items-center
    justify-between
    p="y-8 x-4"
  >
    <p w-50%>
      <Logo />
    </p>

    <p text-5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      recusandae odit deleniti aspernatur pariatur, ut doloremque dicta
      perferendis minus dolore aliquam numquam, quibusdam dolores reprehenderit
      non tempore! Quo, repudiandae harum!
    </p>

    <p text-5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      recusandae odit deleniti aspernatur pariatur, ut doloremque dicta
      perferendis minus dolore aliquam numquam, quibusdam dolores reprehenderit
      non tempore! Quo, repudiandae harum!
    </p>
  </main>

  <SideNav
    showPresentationLink
    showHoursLink
    showMenuLink
    showDayMenuLink
    showProgramationLink
    showContactLink
  />
</Layout>
