---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav class="bg-secondary-yellow text-primary" />

  <SideNav showIndexLink showPresentationLink />

  <MainContent title="La carte">
    <div mt-6 class="markdown">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit
        aperiam iusto. Aperiam, aspernatur voluptates tenetur ex ullam
        distinctio. Pariatur architecto fugit corporis. Magnam, quod alias!
        Ipsam laboriosam dolores at?
      </p>
    </div>
  </MainContent>

  <SideNav showDayMenuLink showProgramationLink showContactLink />
</Layout>
