---
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav class="bg-secondary-beige text-primary" />

  <SideNav showIndexLink showPresentationLink showHoursLink showMenuLink />

  <main h-full bg-secondary-beige text-primary grow p-8 overflow-y-auto>
    <h1 text-8 uppercase>Le menu du jour</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit
      aperiam iusto. Aperiam, aspernatur voluptates tenetur ex ullam distinctio.
      Pariatur architecto fugit corporis. Magnam, quod alias! Ipsam laboriosam
      dolores at?
    </p>
  </main>

  <SideNav showProgramationLink showContactLink />
</Layout>
