---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav class="bg-secondary-gray text-primary" />

  <SideNav showIndexLink showPresentationLink showMenuLink />

  <MainContent title="Le menu du jour" class="bg-secondary-gray">
    <div mt-6 class="markdown">
      <p>
        Les midis en semaine, Le Bouillon des Eaux Vives vous propose un menu
        varié et savoureux.
      </p>

      <p>À la carte le {new Date().toLocaleDateString()} :</p>

      <p>Entrées</p>

      <ul>
        <li>Salade lyonaise</li>

        <li>Une autre entrée super bonne</li>
      </ul>

      <p>Plats</p>

      <ul>
        <li>Burger de gros viandard</li>

        <li>Recette au graine pour les écolos bobos</li>
      </ul>

      <p>Dessert</p>

      <ul>
        <li>Bananas split</li>

        <li>Muffins façon Charon</li>
      </ul>

      <p>Prix</p>

      <ul>
        <li>Entrée + plat <strong>20€</strong></li>
        <li>Plat + dessert <strong>20€</strong></li>
        <li>Entrée + plat + dessert <strong>30€</strong></li>
      </ul>
    </div>
  </MainContent>

  <SideNav showProgramationLink showContactLink />
</Layout>

<style>
  .markdown :global(p:not(:first-child)) {
    margin-top: 1rem;
  }

  .markdown :global(ul) {
    list-style: inside;
  }

  .markdown :global(strong) {
    font-weight: bold;
  }
</style>
