---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav class="bg-secondary-gray text-primary" />

  <SideNav showIndexLink showPresentationLink showMenuLink />

  <MainContent title="Le menu du jour" class="bg-secondary-gray">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit
      aperiam iusto. Aperiam, aspernatur voluptates tenetur ex ullam distinctio.
      Pariatur architecto fugit corporis. Magnam, quod alias! Ipsam laboriosam
      dolores at?
    </p>
  </MainContent>

  <SideNav showProgramationLink showContactLink />
</Layout>
