---
import MainContent from "@components/MainContent.astro";
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
import { getEntry } from "astro:content";

const { data, render } = await getEntry("presentation-page", "presentation");

const { Content } = await render();
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title={data.seoTitle} description={data.seoDescription} />

  <TopNav />

  <SideNav showIndexLink />

  <MainContent title="Présentation">
    <div mt-6 class="markdown">
      <Content />

      <p mt-6 font-italic b-l="solid primary 2" pl-4>Yoann et Simon CHARON</p>
    </div>
  </MainContent>

  <SideNav showMenuLink showDayMenuLink showProgramationLink showContactLink />
</Layout>

<style>
  .markdown :global(p:not(:first-child)) {
    margin-top: 1rem;
  }

  .markdown :global(strong) {
    font-weight: bold;
  }
</style>
