---
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | Programmation" />

  <TopNav class="bg-secondary-blue text-primary" />

  <SideNav
    showIndexLink
    showPresentationLink
    showHoursLink
    showMenuLink
    showDayMenuLink
  />

  <main h-full bg-secondary-blue text-primary grow p-8>
    <h1 text-8 uppercase>Programmation</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit
      aperiam iusto. Aperiam, aspernatur voluptates tenetur ex ullam distinctio.
      Pariatur architecto fugit corporis. Magnam, quod alias! Ipsam laboriosam
      dolores at?
    </p>
  </main>

  <SideNav showContactLink />
</Layout>
