---
export interface Props {
  href: string;
}

const { href } = Astro.props;
const { pathname } = new URL(Astro.request.url);
const isActiveLink = href === pathname;
---

<li>
  <a
    hover:text-primary
    text-5
    class:list={[{ "b-b-solid b-b-2 b-b-primary": isActiveLink }]}
    {href}
  >
    <slot />
  </a>
</li>
