---
export interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;
---

<li>
  <p>{name}</p>

  {
    description.length !== 0 && (
      <p class="text-3.5" font-italic>
        {description}
      </p>
    )
  }
</li>
