---
import LogoSmall from "./LogoSmall.astro";
---

<aside block text-center relative class="md:hidden">
  <div
    p-2
    flex
    justify-between
    items-center
    relative
    z-2
    bg-primary
    text-background-gray
  >
    <a href="/" block>
      <LogoSmall class="w-10 h-10" />
    </a>

    <a href="/" uppercase text-5 font-display class="index-link"> Accueil </a>

    <button
      type="button"
      relative
      w-12
      h-12
      onclick="this.closest('aside').classList.toggle('menu-opened')"
    >
      <i
        i-carbon-menu
        block
        w-8
        h-8
        absolute
        top-2
        left-2
        right-2
        bottom-2
        class="menu-icon"></i>

      <i
        i-carbon-close
        block
        w-8
        h-8
        absolute
        top-2
        left-2
        right-2
        bottom-2
        class="close-icon"></i>
    </button>
  </div>

  <ul
    absolute
    left-0
    right-0
    z-1
    max-h-0
    overflow-y-hidden
    shadow
    class="top-[calc(100%-2px)]"
  >
    <li p="t-[calc(0.5rem+2px)] b-1.5" text-primary bg-secondary-blue>
      <a href="/presentation" uppercase block text-5 font-display w-full>
        Présentation
      </a>
    </li>

    <li p="t-2 b-1.5" text-primary bg-secondary-yellow>
      <a href="/menu" uppercase block text-5 font-display w-full> Carte </a>
    </li>

    <li p="t-2 b-1.5" text-primary bg-secondary-gray>
      <a href="/menu-du-jour" uppercase block text-5 font-display w-full>
        Menu du jour
      </a>
    </li>

    <li p="t-2 b-1.5" text-primary bg-secondary-beige>
      <a href="/programmation" uppercase block text-5 font-display w-full>
        Programmation
      </a>
    </li>

    <li p="t-2 b-1.5" text-primary bg-secondary-blue>
      <a href="/contact-et-horaires" uppercase block text-5 font-display w-full>
        Contact et horaires
      </a>
    </li>
  </ul>
</aside>

<style>
  ul {
    transition: max-height 0.5s;
  }

  .index-link {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .menu-icon {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .close-icon {
    opacity: 0;
    transition: opacity 0.5s;
  }

  aside.menu-opened {
    ul {
      max-height: 20rem;
      transition: max-height 0.5s;
    }

    .index-link {
      opacity: 1;
      transition: opacity 0.5s;
    }

    .menu-icon {
      opacity: 0;
      transition: opacity 0.5s;
    }

    .close-icon {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
</style>
