<!doctype html>
<html lang="fr" h-full md:overflow-y-hidden>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body
    font-sans
    font-normal
    text-gray-7
    flex="~ col md:row"
    min-h-full
    md:h-full
  >
    <slot />
  </body>
</html>
