---
import Logo from "@components/Logo.astro";
import NavBar from "@components/NavBar/NavBar.astro";
---

<!doctype html>
<html lang="fr" h-full>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body h-full font-sherif font-normal text-gray-7 bg="[#ecedda]">
    <slot />
  </body>
</html>
