---
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";

import page1 from "./menu-page-1.svg";
import page2 from "./menu-page-2.svg";
import page3 from "./menu-page-3.svg";
import page4 from "./menu-page-4.svg";
import page5 from "./menu-page-5.svg";
import page6 from "./menu-page-6.svg";
import page7 from "./menu-page-7.svg";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav>La carte</TopNav>

  <SideNav showIndexLink showPresentationLink />

  <main h-full text-gray-800 grow p-y-8 overflow-y-auto bg-background-gray>
    <div max-w-150 m-x-auto>
      <h1 hidden>La carte</h1>

      <img {...page1} alt="" class="w-full" />

      <img {...page2} alt="" class="w-full" />

      <img {...page3} alt="" class="w-full" />

      <img {...page4} alt="" class="w-full" />

      <img {...page5} alt="" class="w-full" />

      <img {...page6} alt="" class="w-full" />

      <img {...page7} alt="" class="w-full" />
    </div>
  </main>

  <SideNav showDayMenuLink showProgramationLink showContactLink />
</Layout>

<style>
  .markdown :global(h2),
  .markdown :global(h3),
  .markdown :global(h4) {
    font-family: var(--font-display);
  }

  .markdown :global(h2) {
    font-size: 2rem;
    color: var(--primary);
  }

  .markdown :global(h3) {
    font-size: 1.5rem;
    color: var(--primary);
  }

  .markdown :global(p:not(:first-child)) {
    margin-top: 1rem;
  }

  .markdown :global(strong) {
    font-weight: bold;
  }

  main :global(*::selection) {
    background-color: var(--primary);
    color: var(--background-gray);
  }
</style>
