---
import SideNav from "@components/SideNav.astro";
import TopNav from "@components/TopNav.astro";
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";

import page1 from "./menu-page-1.svg";
import page2 from "./menu-page-2.svg";
import page3 from "./menu-page-3.svg";
import page4 from "./menu-page-4.svg";
import page5 from "./menu-page-5.svg";
import page6 from "./menu-page-6.svg";
import page7 from "./menu-page-7.svg";
---

<Layout title="Welcome to Astro.">
  <SEO slot="head" title="Le Bouillon des Eaux Vives | La carte" />

  <TopNav>La carte</TopNav>

  <SideNav showIndexLink showPresentationLink />

  <main
    h-full
    text-gray-800
    grow
    p-y-8
    overflow-y-auto
    bg-background-gray
    scroll-smooth
  >
    <div max-w-150 m-x-auto>
      <h1 hidden>La carte</h1>

      <img id="boissons" {...page1} alt="" class="w-full" />

      <img {...page2} alt="" class="w-full" />

      <img id="dejeuner" {...page3} alt="" class="w-full" />

      <img id="dessert" {...page4} alt="" class="w-full" />

      <img id="snacking-cuscre" {...page5} alt="" class="w-full" />

      <img id="snacking-sale" {...page6} alt="" class="w-full" />

      <img id="afterwork" {...page7} alt="" class="w-full" />
    </div>

    <div fixed right-4 md:right-42 bottom-4 text-primary>
      <div relative>
        <input id="menu-checkbox" type="checkbox" hidden />

        <label for="menu-checkbox" cursor-pointer bg-background-gray>
          <i i-carbon-menu block w-8 h-8 class="menu-icon"></i>

          <i i-carbon-close hidden w-8 h-8 class="close-icon"></i>
        </label>

        <ul
          max-h-0
          absolute
          bottom-full
          right-0
          overflow-hidden
          bg-background-gray
          text="right nowrap"
        >
          <li>
            <a href="#boissons">Boissons</a>
          </li>

          <li>
            <a href="#dejeuner">Déjeuner</a>
          </li>

          <li>
            <a href="#dessert">Dessert</a>
          </li>

          <li>
            <a href="#snacking-cuscre">Snacking sucré</a>
          </li>

          <li>
            <a href="#snacking-sale">Snacking salé</a>
          </li>

          <li>
            <a href="#afterwork">Afterwork</a>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <SideNav showDayMenuLink showProgramationLink showContactLink />
</Layout>

<style>
  main :global(*::selection) {
    background-color: var(--primary);
    color: var(--background-gray);
  }

  ul {
    transition: max-height 0.5s;
  }

  #menu-checkbox:checked + label + ul {
    max-height: 100rem;
    transition: max-height 0.5s;
  }

  #menu-checkbox:checked + label .menu-icon {
    display: none;
  }

  #menu-checkbox:checked + label .close-icon {
    display: block;
  }
</style>
